
header, section,aside,article{
    display:block;
 }
 body{
   text-align:center;
 }
 .fondo{
   background: #FFEB7E ;
   width: 900px;
   height: 1100px;
   border: 2px solid rgb(0, 0, 0);
   margin: 10px auto;
 }
 
 .gr
 {
   background:#7EFFFB ;
   padding:60px;
   margin-bottom: 40px;
   height: 300; 
 }
 .img1
 {
  width: 350px;
  height: 300px;
 }
 